<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Halaman 5
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-text color="tertiary">
        <h3>Pengalaman,kritik,saran</h3>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <p>Dengan belajar AMBW, saya menjadi lebih mengerti mengenai git,angular, dan ionic karena
        selama ini saya belum pernah menggunakannya.</p>
      <p>Sampai sekarang ini, saya masih belum memiliki 
        kritik dan saran.</p>
    </ion-card-content>
  </ion-card>
</ion-content>